  <!-- Top Header -->
  <div class="container-fluid headbar">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
	<h1 class="text-primary">Dragons and Where to Find Them <small> <br />by B038381, B139876, B093725</small></h1>
      </div>
      <div class="col-sm-3">
	<h6><p class="text-right"><a href="mailto:s1217815@ed.ac.uk" target="_blank" class="btn btn-info">For any problems, please contact s1217815@ed.ac.uk</a>
	</p></h6>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
  
  <!--Main Body -->
  <div class="containter-fluid">
    <div class="row content">
      <div class="col-md-1 sidenav" height="100%">
      </div>
      <div class="col-md-2">
	<!-- insert filters on the left hand side of screen here-->
      </div>
      <div class="col-md-6">
	<div class="well well-md">
	  <!--insert leaflet map here-->
	</div>
      </div>
      <div class="col-md-2">
	<!-- insert right hand side filters here -->
      </div>
      <div class="col-md-1 sidenav" height="100%">
      </div>
    </div>
  </div>
  
      
	
  
